Repository harmonyland/harmony, pull requests merged in 2021-01, with the labels that each got.

#81 Quick fix for Events to use Manager#_delete and adding full Invite support
  src/gateway/handlers/channelDelete.ts
  src/gateway/handlers/guildCreate.ts
  src/gateway/handlers/guildDelete.ts
  src/gateway/handlers/guildRoleDelete.ts
  src/gateway/handlers/index.ts
  src/gateway/handlers/inviteDelete.ts
  src/gateway/handlers/messageDelete.ts
  src/gateway/index.ts
  src/managers/channels.ts
  src/managers/guildChannels.ts
  src/managers/guildVoiceStates.ts
  src/managers/invites.ts
  src/managers/messageReactions.ts
  src/managers/reactionUsers.ts
  src/models/cacheAdapter.ts
  src/models/client.ts
  src/models/commandClient.ts
  src/models/slashClient.ts
  src/structures/groupChannel.ts
  src/structures/guild.ts
  src/structures/invite.ts
  src/structures/textChannel.ts
  src/test/chunk.ts
  src/test/slash-only.ts
  src/types/endpoint.ts
Labels: bugfix 🔨, enhancement ✨, gateway 📙, rest 📘, structures 🛠️

#82 Guild awaitAvailiable method and removing redundant code in guild structure
  src/structures/guild.ts
Labels: enhancement ✨

#71 fix: add permissions field to InteractionPayload#member
  src/types/slash.ts
Labels: enhancement ✨, waiting ⏲️

#85 new options & collectors
  mod.ts
  src/gateway/handlers/index.ts
  src/models/client.ts
  src/models/collectors.ts
  src/models/rest.ts
  src/structures/webhook.ts
  src/test/index.ts
  src/test/music.ts
  src/test/slash.ts
Labels: enhancement ✨, structures 🛠️

#87 Add Missing Guild Implementations
  mod.ts
  src/gateway/handlers/guildMemberRemove.ts
  src/gateway/handlers/messageDeleteBulk.ts
  src/gateway/handlers/messageReactionRemove.ts
  src/gateway/handlers/voiceStateUpdate.ts
  src/managers/base.ts
  src/managers/guildChannels.ts
  src/managers/guildEmojis.ts
  src/managers/guilds.ts
  src/managers/memberRoles.ts
  src/managers/roles.ts
  src/models/collectors.ts
  src/structures/guild.ts
  src/structures/message.ts
  src/structures/role.ts
  src/test/cmd.ts
  src/test/index.ts
  src/types/guild.ts
  src/types/role.ts
Labels: enhancement ✨, rest 📘, structures 🛠️, types 📄, waiting ⏲️

#88 BREAKING: Adds rest of the REST and migrate to Typed EventEmitter, better Gateway interfacing
  deps.ts
  mod.ts
  src/gateway/handlers/index.ts
  src/gateway/handlers/ready.ts
  src/gateway/handlers/resume.ts
  src/gateway/index.ts
  src/managers/guildChannels.ts
  src/managers/guilds.ts
  src/managers/roles.ts
  src/models/client.ts
  src/models/collectors.ts
  src/models/commandClient.ts
  src/models/extensions.ts
  src/models/shard.ts
  src/structures/guild.ts
  src/structures/guildVoiceChannel.ts
  src/types/guild.ts
  src/types/voice.ts
  src/utils/events.ts
Labels: enhancement ✨, rest 📘

#93 feat: sharding support
  src/gateway/handlers/index.ts
  src/gateway/handlers/ready.ts
  src/gateway/handlers/resume.ts
  src/gateway/index.ts
  src/models/client.ts
  src/models/extensions.ts
  src/models/shard.ts
  src/models/slashClient.ts
  src/structures/guild.ts
  src/structures/guildVoiceChannel.ts
  src/test/cmd.ts
  src/test/index.ts
  src/test/slash.ts
Labels: enhancement ✨, gateway 📙

#95 Add SnowflakeBase, useful methods for permissions to GuildTextChannel, and jsdoc in a lot of places
  src/gateway/handlers/guildEmojiUpdate.ts
  src/gateway/handlers/index.ts
  src/gateway/handlers/reconnect.ts
  src/structures/application.ts
  src/structures/base.ts
  src/structures/channel.ts
  src/structures/embed.ts
  src/structures/emoji.ts
  src/structures/guild.ts
  src/structures/member.ts
  src/structures/message.ts
  src/structures/messageSticker.ts
  src/structures/presence.ts
  src/structures/role.ts
  src/structures/slash.ts
  src/structures/textChannel.ts
  src/structures/user.ts
  src/types/channel.ts
  src/utils/bitfield.ts
  src/utils/permissions.ts
  src/utils/snowflake.ts
Labels: enhancement ✨

#97 support multiple attachments
  src/models/rest.ts
  src/structures/embed.ts
  src/structures/textChannel.ts
  src/test/index.ts
  src/types/channel.ts
Labels: rest 📘, structures 🛠️
